
.title {
    width: 100%;
    color: white;
    background: linear-gradient(163deg, black 20%, transparent 20%, transparent 30%, #1f4c79 30%, #1f4c79 35%, transparent 35%);
    background: black;
    height: 11vh;
    margin-top: 0;
    font-size: 3vw;
    justify-content: start;
    align-items: center;
    display: flex;
    padding-left: 20px;
    position: relative;
    z-index: 1;
    /* border: 2px solid red; */
}