.about {
	margin: 15vh 12.5% 20vh;
	width: 75%;
	padding: 10px;
	border-radius: 25px 0;
	border: 2px solid #000;
	z-index: 2;
	background: #000000;
	color: white;
	max-width: 950px;
	font-family: "Roboto", sans-serif;
}

.about img {
	width: 150px;
	height: 200px;
	border-radius: 30%;
	float: left;
	margin-right: 20px;
	box-shadow: 1px 1px 8px;
}
