.formStyle {
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: 16px;
    align-items: center;
    margin: 10vh auto 20vh;
    background: black;
    color: white;
    padding: 20px;
    z-index: 6;
    border-radius: 12px;
    max-width: 1000px;
    font-family: "Roboto", sans-serif;
}

.inputStyle {
    width: 90%;
    height: 35px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rbg(220, 220, 220);
}

.textareaStyle {
    max-width: 90%;
    min-width: 90%;
    width: 90%;
    max-height: 100px;
    min-height: 100px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb( 0, 206, 158, 1);
}

.sendButton {
    width: 50%;
    margin-top: 10px;
    height: 35px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rbg(220, 220, 220);
    font-family: "Roboto", sans-serif;
}



