
.socials {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    z-index: 10;
    
}

.socials a {
    height: 60%;
}
.socials img {
    height: 100%;
}
