.socialContainer {
    bottom: 0;
    width: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    z-index: 10;
    position: relative;
    text-align: center;
}

.socialContainer a, .socialContainer button {
    height: 60%;
    color: white;
    font-size: 10px;
    margin: 0 20px;
}

.socialContainer img {
    height: 100%;
}

#resumeIcon {
    height: 70%;
}


@media screen and (max-width:414px) and (min-height:600px) {
    .socialContainer {
        bottom: 0;
        width: 100%;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 8vh;
        z-index: 10;
        position: fixed;
        text-align: center;
    }
}